/* You can add global styles to this file, and also import other style files */

* {
    font: normal 14px / 20px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    box-sizing: border-box;
}

#masterTag {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    /* border: 1px solid blue; */
    box-sizing: border-box;
}