.product1,
.product2 {
    margin: 0px 10px 0px 10px;
    padding: 5%;
    width: 90%;
    height: 100%;
    box-shadow: 0px 0px 2px 1px #cacaca;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#logo {
    width: auto;
    height: 50%;
    margin: 0px 10% 0px 10%;
}

.titulo {
    font-size: 15px;
    font-weight: bold;
}

#divprecio {
    margin: 0px 0px 10px 10px;
    padding: 0px 0px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.precio_dto {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 17px;
    font-weight: bold;
}

//div para precio
.precio {
    position: absolute;
    top: 0px;
    left: 63%;
    font-size: 11px;
    color: rgb(194, 194, 194);
    text-decoration: line-through;
}

.dto {
    position: absolute;
    top: 0px;
    left: 90%;
    font-size: 15px;
    padding: auto;
    font-weight: bold;
    border-radius: 40%;
    background: #0254D2;
    color: white;
    justify-content: center;
    height: 20px;
}

//=============================================================
.product2 #logo {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 50%;
    height: 50%;
    margin: 0px 0px 0px 0px;
}

.product2 .titulo {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 15px;
    font-weight: bold;
}

.product2 .descripcion {
    position: absolute;
    top: 15%;
    left: 5%;
    height: 50%;
    width: 50%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    font-size: 15px;
}

.detalle {
    position: absolute;
    top: 80%;
    border: none;
    padding: 5px 3px 5px 3px;
    font-size: 17px;
    color: #fff;
    background: #0254D2;
    border-radius: 8%;
}

.detalle:hover {
    color: rgb(24, 39, 90);
}

.product2 .precio_dto {
    position: absolute;
    top: 80%;
    left: 50%;
    font-size: 17px;
    font-weight: bold;
}

//div para precio
.product2 .precio {
    position: absolute;
    margin-right: 5px;
    top: 80%;
    left: 75%;
    font-size: 11px;
    color: rgb(194, 194, 194);
    text-decoration: line-through;
}

.product2 .dto {
    position: absolute;
    top: 80%;
    left: 90%;
    font-size: 15px;
    padding: auto;
    font-weight: bold;
    border-radius: 40%;
    background: #0254D2;
    color: white;
    justify-content: center;
    height: 20px;
}

@media screen and (max-width: 800px) {
    #divprecio {
        flex-direction: column;
        justify-content: center;
    }
    //div para precio
    .precio {
        top: 25px;
        left: 30%;
        font-size: 12px;
    }
    .dto {
        top: 25px;
        left: 80%;
    }
    //=============================================================
    .product2 {
        margin: 0px 0px 0px 0px;
        padding: 5%;
        width: 80%;
        height: 100%;
        box-shadow: 0px 0px 2px 1px #cacaca;
        border-radius: 0%;
    }
    .product2 .descripcion {
        position: absolute;
        top: 15%;
        left: 5%;
        height: 40%;
        color: rgb(194, 194, 194);
    }
    .product2 .precio_dto {
        top: 60%;
        left: 5%;
        margin-right: 5px;
    }
    .product2 .precio {
        top: 60%;
        left: 30%;
        font-size: 15px
    }
    .product2 .dto {
        top: 65%;
        left: 5%;
    }
    .detalle {
        position: absolute;
        top: 80%;
        border: none;
        padding: 5px 3px 5px 3px;
        font-size: 17px;
        color: #fff;
        background: #0254D2;
        border-radius: 8%;
    }
}