<div *ngIf="dato=='p1'" class="product1">
    <img id="logo" src="./assets/img/logo.png">
    <p class="titulo">Nombre Productos destacado</p>
    <div id="divprecio">
        <p class="precio_dto">$50.0000</p>
        <p class="precio">$55.0000</p>
        <p class="dto">5%</p>
    </div>
</div>

<div *ngIf="dato=='p2'" class="product2">
    <img id="logo" src="./assets/img/logo.png">
    <p class="titulo">Nombre Todos Productos </p>
    <p class="descripcion">El café es la bebida que se obtiene a partir de los granos tostados y molidos de los frutos de la planta del café; es altamente estimulante por su contenido de cafeína, ​ una sustancia psicoactiva. Este producto es uno de los más comercializados del
        mundo y una de las tres bebidas​ más consumidas del mundo. El café es la bebida que se obtiene a partir de los granos tostados y molidos de los frutos de la planta del café; es altamente estimulante por su contenido de cafeína, ​ una sustancia
        psicoactiva. Este producto es uno de los más comercializados del mundo y una de las tres bebidas​ más consumidas del mundo. El café es la bebida que se obtiene a partir de los granos tostados y molidos de los frutos de la planta del café; es altamente
        estimulante por su contenido de cafeína, ​ una sustancia psicoactiva. Este producto es uno de los más comercializados del mundo y una de las tres bebidas​ más consumidas del mundo. El café es la bebida que se obtiene a partir de los granos tostados
        y molidos de los frutos de la planta del café; es altamente estimulante por su contenido de cafeína, ​ una sustancia psicoactiva. Este producto es uno de los más comercializados del mundo y una de las tres bebidas​ más consumidas del mundo.
    </p>
    <button class="detalle" (click)="go()" type="button">Detalle</button>
    <p class="precio_dto">$50.0000</p>
    <p class="precio">$55.0000</p>
    <p class="dto">5%</p>
</div>