header {
    width: 100vw;
    height: auto;
    background-image: url("http://localhost:4200/assets/img/bannerEdit.png");
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

#divmenu {
    width: 100vw;
    height: auto;
    background: transparent;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

#logo {
    margin: 35px 0px 0px 20vw;
    padding: 0px;
    width: 120px;
    border-radius: 100%;
    /* border-bottom: 1px solid #d0d0d0; */
}

#slogan {
    margin: 80px 0px 0px 0px;
    width: 150px;
    height: 50px;
    background: transparent;
    /* border: 1px solid black; */
}

button {
    margin: 10px 50px 0px 10vw;
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    width: auto;
    height: 30px;
    background: transparent;
    /* border: 1px solid black; */
}


/* #divnav {
    border: 1px solid black;
} */

#divmenu button:focus {
    outline: none;
}

#divnav nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    height: auto;
    padding-left: 30vw;
    padding-top: 0px;
    /* border-bottom: 1px solid rgb(6, 121, 2); */
}

#divnav nav ul a {
    text-decoration: none;
    padding: 0px 10px;
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
    white-space: pre;
    color: rgb(30, 30, 30);
    transition: 0.5s;
}

#divnav nav ul a:hover {
    padding: 5px 20px;
    transition: 0.5s;
    border-left: 5px solid #ffffff;
    border-right: 3px solid #d0d0d0;
    border-bottom: 7px solid #d0d0d0;
}

@media screen and (max-width: 800px) {
    /* header {
        width: 100vw;
        height: auto;
        background-image: url("http://localhost:4200/assets/img/bannerEdit.png");
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border: 1px solid black;
    } */
    #divmenu {
        width: 100vw;
        height: auto;
        background: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        /* border: 2px solid black; */
    }
    #divnav nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        width: 80%;
        height: auto;
        padding-left: 0px;
        padding-top: 0px;
        border-bottom: none;
    }
    #divnav nav ul a {
        text-decoration: none;
        padding: 5px 30px;
        font-size: 15px;
        font-weight: bold;
        white-space: pre;
        color: rgb(30, 30, 30);
        transition: 0.5s;
        border-bottom: 1px solid #d0d0d0;
    }
    #divnav nav ul a:hover {
        padding: 5px 50px 10px;
        transition: 0.5s;
        border-left: 15px solid #ffffff;
        border-bottom: 9px solid #d0d0d0;
    }
}