<header>
    <div id='divmenu'>
        <img id="logo" src="./assets/img/logo.png">
        <img id="slogan" src="./assets/img/razonSocial-slogan.png">
        <button id="btnMenu">LOGIN</button>
    </div>
    <div id="divnav">
        <nav>
            <ul id="ulMenu">
                <a name="cronograma" [routerLink]="['']" class="page">STORE</a>
                <a name="nuevoEquipo" [routerLink]="['add']" class="page">ADD PRODUCT</a>
            </ul>
        </nav>
    </div>
</header>