<form [formGroup]="formulario" (ngSubmit)="send(formulario.value)">
    <div class="divform">
        <br>
        <h1>CARGAR PRODUCTOS</h1>
        <label for="nombre">nombre producto</label>
        <input formControlName="nombre" class="form-control" type="text" id="nombre" placeholder="nombre de campaña">
        <div *ngIf="formulario.get('nombre').hasError('required') && formulario.get('nombre').touched">
            <p style="color:red">Es necesario ingresarel nombre</p>
        </div>

        <label for="descripcion">descripción</label>
        <textarea formControlName="descripcion" class="form-control" type="edit-text" id="descripcion"></textarea>
        <div *ngIf="formulario.get('descripcion').hasError('required') && formulario.get('descripcion').touched">
            <p style="color:red">Es necesario el descripcion</p>
        </div>
        <br>

        <label for="precio">precio</label>
        <input formControlName="precio" class="form-control" type="number" id="precio" placeholder="nombre del descripcion">
        <div *ngIf="formulario.get('precio').hasError('required') && formulario.get('precio').touched">
            <p style="color:red">Es necesario precio</p>
        </div>
        <br>

        <label for="imagen">imagen</label>
        <input formControlName="imagen" #inputFile (change)="showImagen($event)" type="file" class="form-control-file" id="imagen" accept=".png">
        <div *ngIf="formulario.get('imagen').hasError('required') && formulario.get('imagen').touched">
            <p style="color:red">Es necesario agregar imagen del producto</p>
        </div>
        <br>
        <textarea #dataImage formControlName="dataImage" id="dataImage" name="dataImage" width="100%" style="display: none">
        </textarea>
        <div>
            <img #imageFirm id="imgageFirm" [src]="photo" height="auto" width="auto" alt="SIN IMAGEN">
        </div>

        <label for="dto">descuento</label>
        <input formControlName="dto" class="form-control" type="number" id="dto" placeholder="nombre del descripcion">
        <div *ngIf="formulario.get('dto').hasError('required') && formulario.get('dto').touched">
            <p style="color:red">Es necesario precio</p>
        </div>
        <br>

        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>