.divfrom {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 10%;
}

input {
    height: auto;
    width: 100%;
    padding: 0vh 1vh;
    margin-bottom: 3vh;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 2px solid #5C8EF5;
    box-sizing: border-box;
}

textarea {
    box-shadow: 1px 1px 2px 1px #5C8EF5;
    width: 100%;
    padding: .7em;
    border: none;
    /*background: #f2f2f2;*/
    outline: none;
    border-bottom: 2px solid #5C8EF5;
    font-size: 16px;
}