/* @import "assets/scss/partial/_colors"; */


/* .display-widgets {
    position: relative;
    width: 100%;
    background: transparent;
} */

//div contener de lo item del slider
.items {
    display: flex;
    height: auto;
    overflow-x: auto;
    position: relative;
    justify-content: center;
    width: 100%;
}

.items::-webkit-scrollbar {
    display: none;
}

//div contenerdor del slider
.slider-widgets-container {
    position: relative;
    width: 100%;
    /* border: 1px solid blue; */
}

.icon-b-l,
.icon-b-r {
    padding: 7px 30px 30px 7px;
    background: #fff;
    font-size: 25px !important;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #eee;
    cursor: pointer;
    border-radius: 100%;
    z-index: 3;
    box-shadow: 1px 1px 2px 0px rgb(#000, .6);
    &:hover {
        color: #f00;
    }
}

.icon-b-r {
    right: 8px !important;
    visibility: hidden;
}

.icon-b-l {
    left: 8px !important;
    /* visibility: hidden; */
    visibility: hidden;
}

@media screen and (max-width: 900px) {
    .icon-b-r {
        right: 8px !important;
        visibility: initial;
    }
    .icon-b-l {
        left: 8px !important;
        /* visibility: hidden; */
        visibility: initial;
    }
}