<div class="slider-widgets-container">
    <div class="items" [id]="idItems">
        <ng-content></ng-content>
    </div>
    <div (click)="handleScrollBar('left')" (mousemove)="handleScrollBar('left')" class="icon-b-l" [id]="idL">L</div>
    <div (click)="handleScrollBar('right')" (mousemove)="handleScrollBar('right')" class="icon-b-r" [id]="idR">R</div>
</div>