<!-- PRODUCTOS DESTACADOS -->
<div id="destacados">
    <scroll-horizontal>
        <div *ngFor="let i of productsRandon" class="pdestacados">
            <app-product-card [dato]="'p1'" [id]="i.nombre"></app-product-card>
        </div>
    </scroll-horizontal>
</div>
<!-- TODOS LOS PRODUCTOS -->
<div id="productos">
    <div *ngFor="let i of products" class="producto">
        <app-product-card [dato]="'p2'" [id]="i.nombre"></app-product-card>
    </div>
</div>