#destacados {
    width: 100%;
    height: 300px;
    /* background: rgb(238, 234, 234); */
}

.pdestacados {
    margin: 2px 10px 2px 10px;
}

#productos {
    /* background: rgb(248, 245, 245); */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

//marco para tarjeta de productos presentados
.producto {
    width: 45%;
    height: 30vw;
    /* background: rgb(223, 213, 213); */
    margin: 30px 5px 5px 5px;
    padding: 0;
    border-radius: 1%;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .producto {
        width: 70%;
        height: 60vw;
        /* background: rgb(223, 213, 213); */
        margin: 1px 5px 0px 5px;
        padding: 0;
    }
}