/*DIV PRINCIPAL CONTENEDOR DE NODOS*/

#contenedor {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 100vw;
    box-sizing: border-box;
    /* border: 2px solid yellow; */
}

@media screen and (max-width: 800px) {
    #contenedor {
        display: flex;
        flex-direction: column;
        padding: 2%;
        width: 100vw;
    }
}